    <div class="cube">
        <img class="cube" src="{{imageUrl}}">
        <p class="name">Gan356 Air SM</p>
        <p><span>Difficulty level:</span> 3</p>
        <a class="btn" href="cube/details/{{id}}">Details</a>
    </div>